/* ------------------------------------------*/
/*BASIC SETUP */
/* ------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-family: "Amatic SC", cursive;
    font-size: 22px;
    font-weight: 200;
    color: #fff;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;   
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------*/
/*REUSEABLE COMPONENTS */
/* ------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding-bottom: 80px;
}

.box{
    padding: 1%;
}

/*-----HEADINGS-----*/

h1,
h2,
h3,
h4{
    font-family: "Amatic SC", cursive;
    font-weight: 300;
    color: #fff;
}

h1{
    text-align: center;
    font-size: 350%;
}

h2{
    border-bottom: 2px solid #de00cd;
    width: 180px;
    text-align: center;
}

.order-h2 h2{
    margin-left: auto;
    margin-right: auto;
}

/*-----BUTTONS-----*/

.ghost-btn,
.full-btn{
    font-family: "Amatic SC", cursive;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
}

.ghost-btn:link,
.ghost-btn:visited{
    font-family: "Amatic SC", cursive;
    background-color: rgba(0, 78, 255, 0);
    border: solid 1px #004eff;
    text-decoration: none;
    color: #fff;
}

.ghost-btn:hover{
     background-color: rgba(0, 153, 221, 0.56);
    text-decoration: none;
}

.full-btn:link,
.full-btn:visited{
    background-color: rgba(0, 137, 16, 0.84);
    border: solid 1px #fff;
    text-decoration: none;
    color: #fff;
}

.full-btn:hover{
    background-color: rgba(0, 137, 16, 0.56);
}

.want-btn:link,
.want-btn:visited{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
}

.want-btn:hover{
    background-color: rgba(0, 0, 0, 0.85);
}

.make-it-btn:link,
.make-it-btn:visited,
.view-products-btn:link,
.view-products-btn:visited{
    padding: 25px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
}

.make-it-btn:link,
.make-it-btn:visited{
    background-color: rgba(0, 245, 255, 0.65);
    color: #000;
}

.make-it-btn:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
}

.view-products-btn:hover{
    background-color: rgba(226, 255, 0);
    color: #000;
}


/* ------------------------------------------*/
/*HEADER */
/* ------------------------------------------*/
header{
    margin-top: 0;
    height: 100vh;
    background-image: url(img/header%20background.jpg);
    background-size: cover;
}
.hero-text-box{
    text-align: center;
    margin-top: 300px;  
}

.hero-text-box h1 {
    margin-bottom: 150px;
}

/*-----MAIN NAV-----*/

nav{
    margin-bottom: 0;
}
.main-nav{
    font-family: "Amatic SC", cursive;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 50px;
    color: #000;
}

.main-nav li{
    display: inline-block;
    text-decoration: none;
    font-size: 120%;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 3px;
}

.main-nav li a{
    text-decoration: none;
    color: #fff
}

#home{
    margin-left: 0px;
}


#home:hover{
    border-bottom: 1px solid #ff0000;

}

#about:hover{
    border-bottom: 1px solid #058300;
}

#works:hover{
    border-bottom: 1px solid #1400ff;
}

#products:hover{
    border-bottom: 1px solid #001dff;
}

#order:hover{
    border-bottom: 1px solid #740083;
}

#gallery:hover{
    border-bottom: 1px solid #ff7600;
}

#colors:hover{
    border-bottom: 1px solid #d8ff00;
}


/* ------------------------------------------*/
/*ABOUT US */
/* ------------------------------------------*/

.about-us{
    font-family: "Amatic SC", cursive;
    height: auto;
    background-image: url(img/about%20us%20background.jpg   );
    background-size: cover;
}



.about-content-one,
.about-content-three{
    float: left;
    width: 400px;
    height: 150px;
    margin-top: 10px;
}

.about-content-one{
    background-color: rgba(255, 0, 0, 0.35);
    border-radius: 10px;
    padding: 10px;
    margin-left: 50px;
    color: #fff;
    height: auto;
}

.about-content-two{
    float: right;
    width: 500px;
    height: auto;
    margin-top: 52px;
    margin-left: 200px;
    background-color: rgba(155, 0, 108, 0.85);
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

.about-content-three{
    background-color: rgba(10, 0, 255, 0.35);
    border-radius: 10px;
    padding: 10px;
    margin-left: 50px;
    color: #fff;
    height: auto;
}

.about-content-three a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.content{
    margin-top: -300px;
    margin-left: 100px;
    display: inline-block;
}

/* ------------------------------------------*/
/*HOW IT WORKS */
/* ------------------------------------------*/

.how-it-works{
    font-family: "Amatic SC", cursive;
    height: inherit;
    background-image: url(img/how%20it%20works.jpg);
    background-size: cover;
    color: #000;
}

.how-it-works h2{
    color: #000;
}

.order-content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: auto;
    width: 600px;
    background-color: rgba(226, 226, 226, 0.65);
    border-radius: 10px;
    padding: 10px;
}

.get-started-content{
    width: 500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: rgba(255, 0, 245, 0.35);
    border-radius: 10px;
    border-bottom: solid 3px rgba(255, 0, 245, 0.28);
}
/* ------------------------------------------*/
/*PRODUCTS */
/* ------------------------------------------*/

.products{
    font-family: "Amatic SC", cursive;
    height: auto;
    background-color: rgba(105, 105, 105, 0.39);
    color: #000;
}

.products h2{
    width: 300px;
    margin-bottom: 50px;
    color: #000;
}

.products h3{
    margin-left: 50px;
    width: 300px;
    color: #000;
}

.product-item{
    width: 300px;
    height: 550px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.49);
}


.product-item{
    float: left;
}

.product-item img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.product-title,
.product-color,
.dye-pattern,
.product-price,
.want-btn{
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.product-btns-box{
    text-align: center;
    margin-top: 80px;
}

#other{
    margin-left: 100px;
    margin-top: 50px;   
    width: 500px;
    height: 350px;
}

.other-content{
    width: 350px;
    margin-top: 20px;
    padding: 10px;
    border: solid 1px #000;
    border-bottom: solid 2px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
}

.other-content ul,
.other-content p {
    height: 200px;
    padding: 10px;
}

.other-content ul li{
    margin-left: 50px;
}

.other-content a{
    width: 300px;
    height: 50px;
    margin-left: 0;

}

#custom{
    float: right;
    margin-top: -350px;
    margin-right: 50px;
    width: 500px;
    height: 350px;
    
}



/* ------------------------------------------*/
/*COLORS */
/* ------------------------------------------*/

.colors{
    height: 100vh;
    background-color: #000;
}

.colors h2{
    margin-left: 100px;
}
    

